.auth {
    header {
        background-color: rgb(41, 41, 41);
        color: whitesmoke;
        padding: 1.5em;
        text-align: center;
        font-size: 2em;
        letter-spacing: 10px;
        @media (max-width: 400px) {
            font-size: 1.3em;
        }
    }
    form {
        margin: 2em;
        padding: 2em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
            margin-bottom: 0.3em;
            font-weight: 500;
        }
        input {
            margin-bottom: 2em;
            height: 2.5em;
            min-width: 60%;
            box-shadow: 5px 2px 2px rgb(190, 190, 190);
            padding: 0.6em;
            border: none;
        }
        .adminInput {
            display: flex;
            align-items: center;
            input {
                padding: 0;
                box-shadow: none;
            }
        }
        button {
            font-size: 1.2em;
            background-color: rgb(41, 41, 41);
            color: whitesmoke;
            font-size: 1.2em;
            padding: 0.7em 1.1em;
            margin: 1em auto;
            border: 1px solid whitesmoke;
            border-radius: 3em;
        }
    }
}