.profile {
    display: flex;
    flex-direction: column;
    header {
        display: flex;
        align-items: center;
        margin-bottom: 3em;
        padding: 3em;
        color: whitesmoke;
        background-color: rgb(41, 41, 41);
        h2 {
            font-size: 5em;
            letter-spacing: 8px;
            margin: 0em 3em;
        }
        .pictureInProfileView {
            max-width: 10em;
            border-radius: 50%;
            border: 5px solid whitesmoke;
        }
    }
    .profileInfo {
        margin: 3em;
        h2 {
            border-bottom: 1px solid gray;
            letter-spacing: 8px;
            margin: 2em 0em;
        }
    }
    form {
        display: flex;
        label {
            padding: 0.1em 0.5em;
            max-width: 50%;
        }
        input,
        select {
            max-width: 50%;
            padding: 0.5em;
            margin: 1em 0.5em;
        }
    }
    button {
        margin-left: 3em;
        background-color: rgb(41, 41, 41);
        min-width: fit-content;
        color: whitesmoke;
        font-size: 1.2em;
        padding: 0.7em 1.1em;
        border: 1px solid whitesmoke;
        box-shadow: 4px 2px 2px gray;
        border-radius: 3em;
        margin-bottom: 4em;
    }
}

.editProfile {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-top: 2px solid rgb(41, 41, 41);
    border-bottom: 4em solid rgb(41, 41, 41);
    h1 {
        margin: 1em 3em;
        font-size: 2.5em;
        letter-spacing: 8px;
        small {
            font-size: 0.5em;
        }
    }
    form {
        margin: 3em;
        min-width: 100%;
        display: flex;
        flex-direction: row;
    }
    section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        input,
        select,
        textarea {
            min-width: max-content;
        }
    }
    button {
        margin: 1em 0em;
        max-width: fit-content;
        background-color: rgb(41, 41, 41);
        font-size: 1em;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 3em;
    }
}