.UserList {
    h1 {
        padding: 2em;
        font-size: 2.5em;
        text-align: center;
        background-color: rgb(158, 177, 194);
        margin-top: 0em;
        margin-bottom: 1.5em;
    }
    .SingleUser {
        border: 1px solid rgb(161, 161, 161);
        box-shadow: 3px 3px 3px rgb(212, 212, 212);
        border-radius: 10px;
        margin: 1em 7em;
        padding: 2em;
        h6 {
            font-size: 1em;
        }
        p {
            display: flex;
            span {
                flex: 1;
            }
        }
    }
    @media (max-width: 400px) {
        align-items: center;
        h1 {
            font-size: 1em;
            letter-spacing: 2px;
            margin-bottom: 1em;
        }
        .SingleUser {
            margin: 1em;
            h6 {
                font-size: 0.8em;
                margin: 0em;
            }
            p {
                display: flex;
                flex-direction: column;
                span {
                    flex: 1;
                }
            }
        }
    }
}