.orderForm {
    display: flex;
    flex-direction: column;
    label {
        padding: 1em;
        padding-right: 0.5em;
    }
    input,
    select {
        padding: 0.5em;
        margin: 1em 0.5em;
    }
    textarea {
        margin-top: 1em;
    }
    button {
        display: block;
        padding: 0.5em;
        margin: 1em 0.5em;
        font-size: 1em;
        background-color: lavender;
        box-shadow: 2px 2px 2px grey;
        border: none;
    }
}