.navbar {
    padding-top: 1em;
    display: flex;
    align-items: baseline;
    background-color: rgb(112, 156, 177);
    letter-spacing: 2px;
    .navHamburger img {
        display: none;
        margin: 0em 1em;
    }
    .navLink,
    .navTitle {
        text-decoration: none;
        margin: 0.5em;
        padding: 0.4em 0.8em;
        color: whitesmoke;
        border-radius: 7px;
    }
    .navTitle:hover {
        font-size: 1.5em;
    }
    .navLink:hover {
        font-weight: 700;
    }
    button {
        padding: 0.2em 0.8em;
        color: whitesmoke;
        margin: 0 1em;
        border: none;
        font-family: 'Spartan', sans-serif;
        font-size: 1em;
        background-color: inherit;
    }
    @media (max-width: 400px) {
        flex-direction: column;
        .navLink {
            display: none;
        }
        .navTitle {
            margin: 0;
            padding: 0;
        }
        .navDisplay {
            text-decoration: none;
            margin: 0.5em;
            padding: 0.4em 0.8em;
            color: whitesmoke;
            border-radius: 7px;
        }
        .navHamburger img {
            display: block;
            margin: 0em;
        }
        .navLinkContainer {
            margin: 0em 2em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: max-content;
        }
    }
}