nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background-color: rgb(17, 17, 17);
    background-color: gray;
    color: lavender;
    h1 {
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 3em;
        margin: 0em;
       
    }
}

.navbar {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    //background-color: rgb(17, 17, 17);
    background-color: gray;
    color: lavender;
    //background-color: lavender;
   // color: whitesmoke;
   //color: black;
    .navLinkContainer {
        display: none;
    }
    .navHamburger {
        margin-left: auto;
        //background-color: lavender;
        // background-color: rgb(17, 17, 17);
        background-color: gray;
        border: none;
        position: absolute;
        top: 0.3em; 
        right: 0.5em;
        
        img {
            filter: invert(100);
        }
    }
    .navDisplay {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgba(38, 38, 44, 0.3);
        border: none;
        border-radius: 10px;
        margin-bottom: -22em;
        margin-top: 2.3em;
        button {
            background-color: transparent;
            border: none;
            color: whitesmoke;
            margin-right: 5em;
            padding: 1.2em;
            a {
                text-decoration: none;
                background-color: transparent;
                color: #f5f5f5;
                font-size: 1.2em;
            }
        }
        @media (max-width: 400px) {
            margin-bottom: 0em;
            align-items: center;
        }
    }
}