.navbar {
    padding-top: 1em;
    display: flex;
    align-items: baseline;
    background-color: lavender;
    .navLink {
        text-decoration: none;
        margin: 0.5em;
        padding: 0.4em 0.8em;
        color: rgb(68, 43, 33);
        border-radius: 7px;
    }
    button {
        padding: 0.2em 0.8em;
        color: rgb(68, 43, 33);
        margin: 0 1em;
        border: none;
        font-family: 'Spartan', sans-serif;
        font-size: 1em;
        background-color: inherit;
    }
}